# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Testing
coverage

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*

# Kubernetes
k8s/

# Misc
*.md
LICENSE
