{{- if and .Values.api.enabled .Values.api.git.provider (not .Values.api.git.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "goff-manager.api.secretName" . }}
  namespace: {{ include "goff-manager.namespace" . }}
  labels:
    {{- include "goff-manager.api.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if eq .Values.api.git.provider "ado" }}
  {{ .Values.api.git.adoPatKey | default "ado-pat" }}: {{ .Values.api.git.ado.pat | b64enc | quote }}
  {{- end }}
  {{- if eq .Values.api.git.provider "gitlab" }}
  {{ .Values.api.git.gitlabTokenKey | default "gitlab-token" }}: {{ .Values.api.git.gitlab.token | b64enc | quote }}
  {{- end }}
{{- end }}
